<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          {{title}}
        </h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.aria-valuenow]="progreso1" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso1 + '%'"></div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.aria-valuenow]="progreso2" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso2 + '%'"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-incrementador title="Barra 1" [(progreso)]="progreso1" (progreso)="progreso1 = $event"></app-incrementador>
  </div>
  <div class="col-6">
    <app-incrementador title="Barra 2" [progreso]="progreso2" (progreso)="progreso2 = $event"></app-incrementador>
  </div>
</div>
