<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <table class="table table-hover" *ngIf="usuarios?.length">
          <tbody>
          <tr class="pointer" *ngFor="let usuario of usuarios" [routerLink]="['/usuarios']">
            <td class="width-60">
              <img [src]="usuario.img | imagen" class="img-circle" width="100%">
            </td>
            <td>{{usuario.nombre}}</td>
          </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="!usuarios?.length">
          No hay registros
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Medicos</h4>
        <table class="table table-hover" *ngIf="medicos?.length">
          <tbody>
          <tr class="pointer" *ngFor="let medico of medicos" [routerLink]="['/medico', medico._id]">
            <td class="width-60">
            <img [src]="medico.img | imagen: 'medicos'" class="img-circle" width="100%">
          </td>
            <td>{{medico.nombre}}</td>
          </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="!medicos?.length">
          No hay registros
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospitales</h4>
        <table class="table table-hover" *ngIf="hospitales?.length">
          <tbody>
          <tr class="pointer" *ngFor="let hospital of hospitales" [routerLink]="['/hospitales']">
            <td class="width-60">
              <img [src]="hospital.img | imagen: 'hospitales'" class="img-circle" width="100%">
            </td>
            <td>{{hospital.nombre}}</td>
          </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="!hospitales?.length">
          No hay registros
        </div>
      </div>
    </div>
  </div>

</div>
