<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input #buscar type="text" (keyup)="buscarUsuario(buscar.value)" class="form-control" placeholder="Buscar usuario...">
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="cargando">
    <div class="col-sm-12">
      <div class="alert alert-warning text-center">
        <p class="m-b-10 font-weight-bold">Cargando</p>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <p class="m-t-10">Espere por favor...</p>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!cargando">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Usuarios registrados (<small>{{totalRegistros}}</small>)
          </h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Imagen</th>
              <th>Correo</th>
              <th>Nombre</th>
              <th>Rol</th>
              <th>Auth</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let usuario of usuarios">
              <td>
                <img width="50" height="50" [src]="usuario.img | imagen" class="img-circle pointer" data-toggle="modal" data-target="#subirImagen" (click)="abrirModal(usuario)"/>
              </td>
              <td>{{usuario.email}}</td>
              <td>{{usuario.nombre}}</td>
              <td>
                <select name="role" class="form-control" [(ngModel)]="usuario.role">
                  <option value="ADMIN_ROLE">Administrador</option>
                  <option value="USER_ROLE">Usuario</option>
                </select>
              </td>
              <td>
                <label *ngIf="usuario.google" class="label label-danger">Google</label>
                <label *ngIf="!usuario.google" class="label label-info">Normal</label>
              </td>
              <td>
                <button class="btn btn-primary" (click)="guardarUsuario(usuario)">
                  <i class="fa fa-save"></i>
                </button>
                <button class="btn btn-danger" (click)="borrarUsuario(usuario)" [hidden]="usuario._id === this._usuarioService.usuario._id">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <button class="btn btn-secondary" (click)="cambiarDesde(-5)">Anteriores</button>
          <button class="btn btn-secondary" (click)="cambiarDesde(5)">Siguientes</button>
        </div>
      </div>
    </div>
  </div>
</div>
