<div class="row animated fadeIn">
  <div class="col-md-6">
    <div class="card card-body">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form #f="ngForm" ngNativeValidate (submit)="guardarMedico(f)">
            <input type="hidden" name="_id" class="form-control" [(ngModel)]="medico._id">
            <div class="form-group">
              <label>Nombre del medico</label>
              <input type="text" name="nombre" class="form-control" placeholder="Nombre del medico"
                     [(ngModel)]="medico.nombre" required>
            </div>
            <div class="form-group">
              <label>Hospital</label>
              <select name="hospital" class="form-control" [(ngModel)]="medico.hospital"
                      (change)="cambioHospital($event.target.value)" required>
                <option [value]="undefined" disabled>Seleccione un hospital</option>
                <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{hospital.nombre}}</option>
              </select>
            </div>
            <button routerLink="/medicos" class="btn btn-danger waves-effect waves-light m-r-20">
              <i class="fa fa-chevron-left"></i>
              Atras
            </button>
            <button type="submit" class="btn btn-success waves-effect waves-light">
              <i class="fa fa-save"></i>
              Guardar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3" *ngIf="hospital._id">
    <div class="card card-body">
      <h4 class="card-title m-b-0">{{hospital.nombre}}</h4>
      <img [src]="hospital.img | imagen: 'hospital'" class="rounded img-fluid">
    </div>
  </div>

  <div class="col-md-3" *ngIf="medico._id">
    <div class="card card-body">
      <h4 class="card-title m-b-0">Foto</h4>
      <img width="100%" [src]="medico.img | imagen: 'medico'" data-toggle="modal" data-target="#subirImagen"
           (click)="abrirModal(medico)" class="img-circle img-fluid pointer">
    </div>
  </div>

</div>
