<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input #buscar type="text" (keyup)="buscarMedico(buscar.value)" class="form-control" placeholder="Buscar medico...">
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="cargando">
    <div class="col-sm-12">
      <div class="alert alert-warning text-center">
        <p class="m-b-10 font-weight-bold">Cargando</p>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <p class="m-t-10">Espere por favor...</p>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!cargando">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            Medicos registrados (<small>{{totalRegistros}}</small>)
            <button class="btn btn-primary" style="float: right" [routerLink]="['/medico', 'nuevo']">
              <i class="fa fa-plus"></i>
              Crear Medico
            </button>
          </h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Foto</th>
              <th>Medico</th>
              <th>Hospital</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medico of medicos">
              <td class="col-1">
                <img width="50" height="50" [src]="medico.img | imagen: 'medico'" class="img-circle"/>
              </td>
              <td class="col-5">
                {{medico.nombre}}
              </td>
              <td class="col-4">
                {{medico.hospital.nombre}}
              </td>
              <td class="col-2">
                <button class="btn btn-primary" [routerLink]="['/medico', medico._id]">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger" (click)="borrarMedico(medico)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <button class="btn btn-secondary" (click)="cambiarDesde(-5)">Anteriores</button>
          <button class="btn btn-secondary" (click)="cambiarDesde(5)">Siguientes</button>
        </div>
      </div>
    </div>
  </div>

</div>
