<div class="row animated fadeIn">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del Usuario</h4>
        <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20">
          <div class="form-group">
            <label>Nombre de Usuario</label>
            <div class="input-group">
              <div class="input-group-prepend"><i class="input-group-text ti-user"></i></div>
              <input type="text" class="form-control" [ngModel]="usuario.nombre" name="nombre" placeholder="Nombre de Usuario" required>
            </div>
          </div>
          <div class="form-group">
            <label>Correo de Usuario</label>
            <div class="input-group">
              <div class="input-group-prepend"><i class="input-group-text ti-email"></i></div>
              <input type="email" class="form-control" [ngModel]="usuario.email" name="email" placeholder="Correo de Usuario" [disabled]="usuario.google" [required]="!usuario.google">
            </div>
          </div>
          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card">
      <div class="card-body" align="center">
        <h4 class="card-title">Foto del Usuario</h4>
        <h6 class="card-subtitle">{{usuario.nombre}}</h6>
        <img [src]="(imagenTemp || usuario.img) | imagen" width="150" height="150" alt="user">
        <input type="file" (change)="seleccionImagen($event.target.files[0])">
        <button type="button" class="btn btn-block btn-success waves-effect waves-light m-r-10 m-t-20" (click)="cambiarImagen()" [disabled]="!imagenSubir">
          <i class="fa fa-save"></i>
          Actualizar foto
        </button>
      </div>
    </div>
  </div>
</div>
