<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar"
         style="background-image:url(../assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <form ngNativeValidate #f="ngForm" class="form-horizontal form-material" id="loginform" (submit)="ingresar(f)">
        <div class="text-center db">
          <img src="../assets/images/logo-icon.png" alt="Home"/>
          <br>
          <img src="../assets/images/logo-text.png" alt="Home"/>
        </div>
        <div class="form-group m-t-40">
          <div class="col-xs-12">
            <input [ngModel]="email" name="email" class="form-control" type="email" required placeholder="Correo del Usuario">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input ngModel name="password" class="form-control" type="password" required placeholder="Contrasena">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-t-0">
              <input [(ngModel)]="recuerdame" name="recuerdame" id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
              <label for="checkbox-signup"> Recordarme </label>
            </div>
            <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right">
              <i class="fa fa-lock m-r-5"></i>
              Olvidaste contrasena?
            </a>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">
              Iniciar Sesion
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
            <div class="social">
              <button id="btnGoogle" class="btn btn-googleplus" type="button" data-toggle="tooltip" title="Iniciar con Google">
                <i aria-hidden="true" class="fa fa-google-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            No tienes cuenta? <a routerLink="/register" class="text-primary m-l-5"><b>Registrarse</b></a>
          </div>
        </div>
      </form>
      <form class="form-horizontal" id="recoverform" action="index.html">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Recuperar contrasena</h3>
            <p class="text-muted">Ingresa tu correo y se te enviaran las instrucciones!</p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" placeholder="Correo">
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">
              Reiniciar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
