<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input #buscar type="text" (keyup)="buscarHospital(buscar.value)" class="form-control" placeholder="Buscar hospital...">
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="cargando">
    <div class="col-sm-12">
      <div class="alert alert-warning text-center">
        <p class="m-b-10 font-weight-bold">Cargando</p>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <p class="m-t-10">Espere por favor...</p>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!cargando">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            Hospitales registrados (<small>{{totalRegistros}}</small>)
            <button class="btn btn-primary" style="float: right" (click)="crearHospital()">
              <i class="fa fa-plus"></i>
              Crear Hospital
            </button>
          </h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Imagen</th>
              <th>Hospital</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hospital of hospitales">
              <td class="col-1">
                <img width="50" height="50" [src]="hospital.img | imagen: 'hospital'" class="pointer" data-toggle="modal" data-target="#subirImagen" (click)="abrirModal(hospital)"/>
              </td>
              <td class="col-9">
                <input type="text" class="form-control" name="nombre" [(ngModel)]="hospital.nombre">
              </td>
              <td class="col-2">
                <button class="btn btn-primary" (click)="guardarHospital(hospital)">
                  <i class="fa fa-save"></i>
                </button>
                <button class="btn btn-danger" (click)="borrarHospital(hospital)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <button class="btn btn-secondary" (click)="cambiarDesde(-5)">Anteriores</button>
          <button class="btn btn-secondary" (click)="cambiarDesde(5)">Siguientes</button>
        </div>
      </div>
    </div>
  </div>
</div>
