<!-- Modal -->
<div class="modal fade" id="subirImagen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" align="center">
        <img [src]="(imagenTemp || 'xxx') | imagen" width="150" height="150" alt="user"/>
        <div>
          <input type="file" class="m-t-10" (change)="seleccionImagen($event.target.files[0])">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeAddExpenseModal>Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="cambiarImagen()" [disabled]="!imagenTemp">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
