<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{leyenda}}</h4>
    <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
              <i class="mdi mdi-minus"></i>
            </button>
          </span>
      <input #inputNumber type="number" class="form-control" [(ngModel)]="progreso"
             (ngModelChange)="onChange($event)" min="1" max="100">
      <span class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="cambiarValor(5)">
              <i class="mdi mdi-plus"></i>
            </button>
          </span>
    </div>
  </div>
</div>
