<div class="row">
  <div class="col-6" *ngFor="let grafico of graficos">
    <div class="card">
      <div class="card-body">
        <app-grafico-dona [chartLabels]="grafico.labels" [chartData]="grafico.data" [title]="grafico.title"></app-grafico-dona>
      </div>
    </div>
  </div>
</div>
